[run]
    source = .
    omit =
        manage.py
        project/asgi.py
        project/wsgi.py
        *_tests.py
        **/migrations/*.py
        release.py

[report]
    fail_under = 90
    show_missing = True
